## Assignment

In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("../dataset/drinks.csv")

In [11]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [12]:
df["spirit_servings"].max()

438

In [13]:
df.spirit_servings==df["spirit_servings"].max()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: spirit_servings, Length: 193, dtype: bool

In [14]:
df[df.spirit_servings==df["spirit_servings"].max()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
68,Grenada,199,438,28,11.9,North America

In [16]:
df["wine_servings"].max()

370

In [17]:
df.wine_servings==df["wine_servings"].max()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: wine_servings, Length: 193, dtype: bool

In [18]:
df[df.wine_servings==df["wine_servings"].max()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
61,France,127,151,370,11.8,Europe

In [19]:
df["total_litres_of_pure_alcohol"].max()

14.4

In [20]:
df.total_litres_of_pure_alcohol==df["total_litres_of_pure_alcohol"].max()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: total_litres_of_pure_alcohol, Length: 193, dtype: bool

In [21]:
df[df.total_litres_of_pure_alcohol==df["total_litres_of_pure_alcohol"].max()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,Europe