In [1]:
import pandas as pd
df=pd.read_csv("train.csv")
X=df.loc[:,["Age","Fare"]] # This takes all rows in the data set but only columns of Age and Fare
y=df["Survived"]
X.isna().sum()

Age     177
Fare      0
dtype: int64

In [2]:
X

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [3]:
X.Age.mean()

29.69911764705882

In [4]:
X.fillna(value=X.Age.mean(), inplace=True)

In [5]:
X.isna().sum()

Age     0
Fare    0
dtype: int64

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
knn1=KNeighborsClassifier()

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train_test_split(X,y) #This method will produce 4 results. It will split X and y into 2 with a ratio of 75% and 25%. That is X train andd X test, same for y

[           Age     Fare
 99   34.000000  26.0000
 283  19.000000   8.0500
 846  29.699118  69.5500
 364  29.699118  15.5000
 434  50.000000  55.9000
 ..         ...      ...
 674  29.699118   0.0000
 803   0.420000   8.5167
 580  25.000000  30.0000
 736  48.000000  34.3750
 264  29.699118   7.7500

 [668 rows x 2 columns],
            Age      Fare
 464  29.699118    8.0500
 148  36.500000   26.0000
 495  29.699118   14.4583
 739  29.699118    7.8958
 154  29.699118    7.3125
 ..         ...       ...
 292  36.000000   12.8750
 120  21.000000   73.5000
 114  17.000000   14.4583
 401  26.000000    8.0500
 730  29.000000  211.3375

 [223 rows x 2 columns],
 99     0
 283    1
 846    0
 364    0
 434    0
       ..
 674    0
 803    1
 580    1
 736    0
 264    0
 Name: Survived, Length: 668, dtype: int64,
 464    0
 148    0
 495    0
 739    0
 154    0
       ..
 292    0
 120    0
 114    0
 401    0
 730    1
 Name: Survived, Length: 223, dtype: int64]

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [11]:
X_train.shape

(668, 2)

In [12]:
X_test.shape

(223, 2)

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [14]:
X_train.shape

(623, 2)

In [15]:
knn1.fit(X_train,y_train)

KNeighborsClassifier()

In [16]:
knn1.score(X_train,y_train) # Training accuracy

0.7608346709470305

In [17]:
knn1.score(X_test,y_test) #Testing accuracy which is the accuracy we should use and it is more correct

0.6305970149253731

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=23)

In [19]:
knn1.score(X_test,y_test)

0.75

In [20]:
knn1.score(X_train,y_train)

0.709470304975923

In [21]:
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
    knn1.fit(X_train,y_train)
    print(knn1.score(X_train,y_train))
    knn1.score(X_test,y_test)

0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103
0.7720706260032103

In [24]:
test=[]
train=[]
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=i)
    knn1.fit(X_train,y_train)
    train.append(knn1.score(X_train,y_train))
    test.append(knn1.score(X_test,y_test))
print(sum(train)/len(train))
print(sum(test)/len(test))

0.7626003210272874
0.6615671641791045

In [25]:
test=[]
train=[]
for i in range(20):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=i)
    knn1.fit(X_train,y_train)
    train.append(knn1.score(X_train,y_train))
    test.append(knn1.score(X_test,y_test))
print(sum(train)/len(train))
print(sum(test)/len(test))

0.7649277688603532
0.658955223880597